<html xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8"/>
  <title>Name</title>

</head>

<body>
<h3 th:text="${product.Name()}">Name</h3>
<p th:text="|Precio: ${product.Price()}|">Precio no disponible</p>
<p th:text="|País de origen: ${product.Origin()}|">País de origen no disponible</p>
<p th:text="|Fecha en que fue añadido: ${product.Lot()}|">Fecha en que fue añadido no disponible</p>
<p th:text="|Descripción: ${product.Description()}|">Descripción no disponible</p>

</body>

</html>